<%- include('../partials/head', title) %>
<div class="contaner">
  <div class="text-center">
    <h3>Возникли проблемы при получении данных с YouTube</h3>
  </div>
</div>
<% include ../partials/footer %>
